{% extends 'base.html' %} {% load filter_tags %} {% block content %}
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h2 class="color-text-black h1">#About Me
                        {% if main %}
                        {% else %}
                            <a href="{% url 'my_info:main_create' request.user.pk %}">+</a>
                        {% endif %}
                    </h2>

                </div>
                {% for i in main %}
                    <p>{{ i.name }} {{ i.last_name }} {% if request.user.is_authenticated %}
                        {% if i.user.pk == request.user.pk %}

                            <a class="btn btn-primary float-right margin_for_a"
                               href="{% url 'my_info:update_main' i.user.pk %}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path fill-rule="evenodd"
                                          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                    </p>
                    <p>Age: {{ i.age }} y.o.</p>
                    <p>Location: {{ i.location }}</p>
                    <p>Email: {{ i.email }}</p>
                    <p>Git Hub: {{ i.git_link }}</p>
                {% endfor %}

                <div class="">
                    <h2 class="color-text-black h1">#Skills
                        <a href="{% url 'my_info:skills_create' request.user.pk %}">+</a>
                    </h2>
                </div>
                <div class="container">

                    {% for skill in skills %}
                        <div class="row">
                            {{ skill.description }} {% if request.user.is_authenticated %}
                            {% if skill.user.pk == request.user.pk %}
                                <div class="col mx-0" style="margin-bottom: 10px">
                                    <a class="btn btn-primary float-right"
                                       href="{% url 'my_info:update_skills' skill.pk %}"
                                       style="margin-left: 10px"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                            <path fill-rule="evenodd"
                                                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                        </svg>
                                    </a>

                                    <div class="" style="text-align: right">
                                        <form class="" method="POST"
                                              action="{% url "my_info:skills_delete" skill.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-danger" type="submit" value="x">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            {% endif %}
                        {% endif %}
                        </div>
                    {% endfor %}

                </div>

                <div class="">
                    <h2 class="color-text-black h1">#Languages
                        <a href="{% url 'my_info:language_create' request.user.pk %}">+</a>
                    </h2>
                </div>
                <div class="container">
                    {% for language in languages %}
                        <div class="row">

                            {{ language.title }}: {{ language.level_of_knowledge }}
                            {% if request.user.is_authenticated %}
                                <div class="col mx-0" style="margin-bottom: 10px">

                                    {% if language.user.pk == request.user.pk %}
                                        <a class="btn btn-primary float-right" style="margin-left: 10px"
                                           href="{% url 'my_info:update_language' language.pk %}">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                            </svg>
                                        </a>
                                        <div class="" style="text-align: right">
                                            <form class="" method="POST"
                                                  action="{% url "my_info:language_delete" language.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-danger" type="submit" value="x">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
                <div class="">
                    <h2 class="color-text-black h1">#Expirience
                        <a href="{% url 'my_info:experience_create' request.user.pk %}">+</a>
                    </h2>
                </div>
                <div class="container">
                    {% for exp in exps %}


                        <div class="row">
                            {{ exp.title }}
                            {% if request.user.is_authenticated %}
                                <div class="col mx-0">
                                    {% if exp.user.pk == request.user.pk %}

                                        <a class="btn btn btn-primary float-right"
                                           href="{% url 'my_info:update_exp' exp.pk %}"
                                           style="margin-left: 10px"
                                        >

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                            </svg>
                                        </a>
                                        <div class="" style="text-align: right">
                                            <form class="" method="POST"
                                                  action="{% url "my_info:experience_delete" exp.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-danger" type="submit" value="x">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-x-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}


                        </div>
                        <p>From {{ exp.date_from }} to {% if exp.date_to %}
                        {% else %} Present time {% endif %}</p>

                        {% with exp.responsibilities|split:";" as ress %}
                            <div class="container" style="margin-bottom: 20px">
                                {% for res in ress %}
                                    <div class="row">
                                        <div class="col-sm">* {{ res }}</div>
                                    </div>
                                {% endfor %}
                            </div>


                        {% endwith %}


                    {% endfor %}
                </div>

                <div class="">
                    <h2 class="color-text-black h1">#Education</h2>
                </div>
                {% for ed in educas %}
                    <p class="names_style">{{ ed.name_of_school }} {% if request.user.is_authenticated %}
                        {% if ed.user.pk == request.user.pk %}

                            <a class="btn btn-primary float-right"
                               href="{% url 'my_info:update_education' ed.pk %}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path fill-rule="evenodd"
                                          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                    </p>
                    <p>{{ ed.name_of_specialities }}</p>
                    <p class="color-text-grey">From {{ ed.date_from }} to {{ ed.date_to }}</p>
                {% endfor %}

                <div class="">
                    <h2 class="color-text-black h1">#Courses</h2>
                </div>
                {% for cours in course %}
                    <p class="names_style">{{ cours.teacher }} {% if request.user.is_authenticated %}
                        {% if cours.user.pk == request.user.pk %}

                            <a class="btn btn-primary float-right"
                               href="{% url 'my_info:update_courses' cours.pk %}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path fill-rule="evenodd"
                                          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                    </p>
                    <p>{{ cours.name_of_course }}</p>
                    <p class="color-text-grey">{{ cours.date }}</p>
                {% endfor %}


            </div>
        </div>
    </div>


{% endblock content %}