

.color-green-bg {
    background-color: white;
}

.color-text-grey {
    color: gray;
}

.color-text-black {
    color: green;
}

.names_style {
    font-weight: bold;
    font-size: large;
}

.block_skill {
    flex-grow: 1;
}

.margin_for_a {
    margin-left: 10px;
}